ul li { 
    display: block;
    border: 3px dotted magenta;
    width: 150px;
    list-style-type: none;
    padding: 15px 15px 15px 25px;
    margin-bottom: 5px;
    }

    nav ul>li ul {
        position: absolute;
        margin-top: 0;
        margin-left: 100%;
        display: none;
        }
        
        
        nav>ul>li:hover>ul{
        display: block;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            }
            nav>ul li {
            width: 150px;
            position: relative; 
            text-align: center;
            font-weight: bold;
            color: darkmagenta;
            }
            nav ul li {
            margin-bottom: 2px;
            }
            nav a {
            text-decoration: none;
            display: block;
            border: 3px dotted magenta;
            padding: 15px 15px 15px 15px;

            }
            .button{
                background-color: #fd008b;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
                }
            .dropdown{
                position: relative;
                display: inline-block;
                }
            .dropdown-content{
                display:none;
                position: absolute;
                background-color: #f1f1f1;
                min-width:160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index:1;
                }
            .dropdown-content a{
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display:block;
                }
            .dropdown-content a:hover{background-color: #ddd;}
            .dropdown:hover .dropdown-content{display: block;}
            .dropdown:hover .button{background-color: #af0066;}
            