
div.a{
    text-indent:50px;
}
div.b{
    width:1200px;
    border: 0px solid black;
    padding:50px;
    margin:10px;
}
h1:first-letter{
    font-size: 110%;
    color:red;
}


@media (min-width: 600px)  {
    p {
        font-size: 1.25rem;
    }
}

* {

    margin: 0;
    padding: 0;

}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}


@media screen{
    p{
        color: black;
    }
    h1{
        color: black;
    }
    h3{
        color: black;
    }
    p{
        font-family:Georgia, 'Times New Roman', Times, serif;
    }  
}
@media screen{
    body{
        margin-left: 1in;
        margin-right: 1in;
        margin-top: 1in;
        margin-bottom: 1in;
    }
}

footer{
    width: 100%;
    height: 100px;
    background-image: url(footerbackground.png);
    background-size: 125% 125%;
}


